pip
ipython
sympy
numpy 
pandas 
scipy 
plotly 
matplotlib 
jupyter 
pygmo 
pyomo 
cmake 
pytest 
plotly 
p2j 
pandoc 
networkx 
openpyxl 
pint 
pymysql 
pyodbc 
pyro4 
xlrd 
cyipopt 
mypy 
vispy
ipopt 
glpk
